extends ./layouts/layout.pug

block styles
	style(type="text/css").
		.toast {
			background-color: lightgreen;
			border: 3px green dotted;
			border-radius: 5px;
			color: black;
			font-size: 30px;
		}


block content
	div.container
		div.row#headIntro
			h1 #{locals.config.boothName}
			p Let the world know that you were here at #[a.green-text(href="http://make-i-stan.co") Makeistan.] Learn more about our story #[a(href="http://make-i-stan.co") here]
			p Like this? Make yours. Visit #[a(href="https://github.com/Makeistan/makeistan-photo-booth") github repo] of this photo booth
		div.row.center
			.card-panel
				h4.green-text Take a picture!
				.row
					a.btn-floating.btn-large.blue.btn-flat.tooltipped(
						data-tooltip="Take a picture!",
						data-position="left"
					)#takePictureBtn
						i.large.material-icons photo_camera
					span  
					a.btn-floating.btn-large.green.btn-flat.tooltipped(
						data-tooltip="Save picture locally!",
						data-position="right"
					)#savePictureBtn
						i.large.material-icons save
				.row
					div#canvasPhoto
			.card-panel
				.twitter-timeline
					include ./includes/twitterTimeline.pug
		// included content
		include ./includes/photoModal.pug
		include ./includes/loaderModal.pug

block scripts
	include ./includes/clientKeys.pug
	script(src="./js/index.js")